@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* FOND D'ECRAN */
html:before {

    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url("/images/background/1085886.png");
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */     
    filter: blur(8px);

} 

/* BODY */
body{

    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

nav img{
    width: 100px;
    margin-bottom: 100px;
    padding: 40px;
}

nav{
    background-color: black;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;
}
nav .onglets a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav .onglets a:hover{
    font-weight: bold;
    color: #FF4655;
}