@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* FOND D'ECRAN */
html:before {

    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url("../images/background/1085886.png");
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */     
    filter: blur(8px);

} 

/* BODY */
body{

    margin:0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;

}

nav img{
    width: 100px;
    margin-bottom: 100px;
    padding: 40px;
}

nav{
    background-color: black;
    width: 200px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

nav .onglets{
    display: flex;
    flex-wrap: wrap;

}
nav .onglets a{
    padding: 10px;
    text-decoration: none;
    color: white;

}
nav .onglets a:hover{
    font-weight: bold;
    color: #FF4655;
}


.principal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.principal .formulaire-creation,.formulaire-modification{

    width: 800px;
    height: 750px;
    padding: 20px;
    border-radius: 10px;
    
    margin-top: 50px;
}
.principal .formulaire-creation{
    background-color: white;
    margin-bottom: 500px;
    position: absolute;
    top: 0;
}

.principal .formulaire-creation .formulaire form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.principal .formulaire-creation .formulaire form .creation{
    padding: 10px;
   width: 200px;
   border-radius: 10px;
   margin-bottom: 20px;
}
.principal .formulaire-creation .formulaire form .description{
    padding: 10px;
    margin: 20px;
    max-width: 95%;
    max-height: 300px;
 }
 .principal .formulaire-creation .formulaire form .bouton-enregistrer{
    width: 100px;
    margin-left: 45%;
    padding: 10px;
 }
.principal .formulaire-modification{
    background-color: white;
    margin-bottom: 50px;
    position: absolute;
    top: 850px;
    
}
.principal .formulaire-modification .formulaire form .panoplie-selection{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-style: italic;

}
.principal .formulaire-modification .formulaire form .skin-selection{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    font-style: italic;

}
.principal .formulaire-modification .barre-horizontale{
    background-color: black;
    height: 1px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.principal .formulaire-modification .formulaire .modifications{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}
.principal .formulaire-modification .formulaire .modifications .modification{
    padding: 10px;
    margin-bottom: 20px;
   width: 200px;
   border-radius: 10px;
   
}
.principal .formulaire-modification .formulaire .modifications .description{
    padding: 10px;
    margin: 20px;
    max-width: 95%;
    max-height: 300px;
 }
 .principal .formulaire-modification .formulaire .modifications .bouton-enregistrer{
    width: 100px;
    margin-left: 45%;
    padding: 10px;
 }